
/* Medium screens */
@media screen and (max-width: 1300px) {

.login-container, .register-container {
    width: 50vw;
}

.project {
    width: 30vw;
}

.open-panel-btn {
    width: 6.5vw;
}

.inv-panel-container {
    width: 50vw;
    left: -10vw;
}

}

/* Small screens */
@media screen and (max-width: 650px) {

#project-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.project {
    width: 90vw;
}

.inv-panel-container {
    width: 90vw;
    left: 0;
}

.open-panel-btn {
    width: 10vw;
}

#task-input, #priority, .add-btn {
    width: 120%;
}

.complete-btn, .inv-btn {
    width: 52vw;
}

.task {
    width: 120%;
}

.login-btn {
    width: 30vw;
}

.login-container {
    width: 80vw;
}

.register-container {
    width: 80vw;
    height: 85vh;
}

.login-bgtext {
    font-size: 10vw;
    padding: 4em 2em;
}

.register-bgtext {
    font-size: 6vw;
    padding: 6em 1em;
    overflow: hidden;
}

}